body {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 5vw;
    color: white;
    background-color: #8b0a1b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    animation: fadein 1s ease-in-out;
}

header{
    display: flex;
}

h1 {
    font-size: 4vw;
    display: flex;
}

#title.highlight {
    animation: highlight 2s ease-in-out;
}


h2 {
    width: 25vw; 
    height: 25vw; 
    border-radius: 100%; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 1vw auto; 
    font-size: 4vw; 
    font-family: "Julius Sans One", sans-serif;
    border: 5px solid white;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5); 
}

.showButton{
    margin: 0;
    ;
}

.divinput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw; 
    margin-top: 2vw;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw; 
    margin-top: 2vw;
}

input[type="number"] {
    width: 9vw; 
    height: 5vw;
    font-size: 5vw;
    padding: 1.5vw;
    text-align: center;
    border: 2px solid white;
    color: black;
    border-radius: 0.2em;
    font-family: "Julius Sans One", sans-serif;
}

button {
    font-size: 1vw;
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 0.1em;
    cursor: pointer;
    margin: 2vw;
    padding: 1vw;
    font-family: "Julius Sans One", sans-serif;
}

#startButton, #clearButton{
    font-size: 2vw;
}

.settings{
    display: flex;
    padding: 2vw;
    
}


button:hover, input[type="number"]:hover {
    animation: fadein1 0.2s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes fadein {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color:#8b0a1b;
    }
}

@keyframes fadein1 {
    0% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: rgb(199, 1, 26);
        color: white;
    }
}

@keyframes highlight {
    0% {
        font-size: 4vw;
    }
    50% {
        font-size: 6vw;
    }
    100% {
        font-size: 4vw;
    }
}

/* media queries pour les petits écrans*/
@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }

    h2 {
        width: 40vw;
        height: 40vw;
        font-size: 6vw;
    }

    input[type="number"], button {
        font-size: 6vw;
        padding: 3vw;
    }

    .input-container {
        gap: 2vw; /*ajuster l'écart entre les inputs sur petits écrans */
    }
}
