body {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    font-size: 5vw;
    color: white;
    background-color: black;
    animation: fadein 1.5s ease-in-out;

  }

  input[type="number"] {
    max-width: 10vw; 
    height: 1em; 
    font-size: 5vw;
    margin: 2vw; 
    padding: 1.5vw;
    text-align: center; 
    border: 2px solid white; 
    background-color: black; 
    color: white; 
    border-radius: 0.2em; 
    font-family: "Julius Sans One", sans-serif;
}


button {
    font-size: 3vw;
    color: white;
    background-color: black; 
    border: 2px solid white;
    border-radius: 0.1em; 
    cursor: pointer; 
    margin: 2vw; 
    padding: 1.5vw;
    font-family: "Julius Sans One", sans-serif;
}

button:hover {
    background-color: white; /* Fond blanc quand on survole */
    color: black; /* Texte noir quand on survole */
}

.timer {
    
}

@keyframes fadein {
    0% {
      opacity: 0;   
    }
    100% {
      opacity: 1;  
    }
  }


